@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Get to know a few of <a href="/parks">our national and state parks</a> using our API</h4>
    <img src="/img/CraterLake.jpg" alt="View of Crater Lake">
</div>