html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
a {
  color: #225173;
}

body {
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(10, 68, 10);
  background-color: rgb(161, 177, 161);
}

div#navlinks {
  text-align: center;
}

.text-center img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  }

  .btn-primary {
    color: #fff;
    background-color: #416144;
    border-color: #72A276;
    margin: 5px;
  }