@{
  ViewData["Title"] = $"Delete {Model.Name}";
}

@model ParksExplorer.Models.Park

<h4>Are you sure you want to delete @Model.Name?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

<div id="navlinks">
<p>@Html.ActionLink("Back to park details", "Details", new { id = @Model.ParkId})</p>
</div>