@{
    ViewData["Title"] = "Parks, Monuments, and Forests";
}

<h1>National and State Parks, Monuments, and Forests</h1>
<hr>
<br>

<h3>Actions:</h3>
<p>@Html.ActionLink("Add a new park to the website", "Create")</p>

<h3>Parks, Monuments, and Forests:</h3>
<ol>
@foreach (Park park in Model)
{
  <li><strong>@park.Name</strong> | <a href="/parks/Details/@(park.ParkId)">View Details</a></li>
}
</ol>

<br>
<hr>
<br>

  @using (Html.BeginForm("Search", "Parks")) {
  <label class="mdl-textfield__label" for="sample3">Search All Parks By Name:</label>
  <br>
  <input class="mdl-textfield__input" type="text" name="name" id="sample3"><br><br>
  <input type="submit" class = "btn btn-primary" name = "name" value="Search Parks"/>
  }